* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
}
  
.perfil_header {
    margin: auto;
    margin-top: 20px;
}
  
.perfil_header .perfil {
    display: flex;
    flex-direction: column;
  }
  
 .perfil img {
    width: 156px;
    border-radius: 10%;
    margin: auto;
    margin-bottom: 10px;
  }
  
 .perfil p {
    text-align: center;
  }
  
 .perfil .name {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #4E5150;
    text-align: center;
    margin-bottom: 8px;
  }
  
 .perfil .location {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
  }
  
.cards .card {
    display: flex;
  }
  
.cards .card .info {
    margin: auto 12px;
    margin-top: 24px;
    background-color: #E5E5E5;
    border-radius: 12px;
    padding: 15px 28px;
  }
  
 .info .number {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #4E5150;
  }
  
.info .description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #BDBDBD;
  }

  /*estilo de la galeria*/
.gallery {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
}
  
.gallery .grid {
    margin: auto;
    display: grid;
    grid-gap: 20px;
}

.gallery .grid img{
    border-radius: 15px;
}

.grid .photo-one {
    width: 299px;
    height: 299px;
    grid-column: 1 / 3;
    grid-row: 1;
}
  
  .grid .photo-two {
    width: 629px;
    height: 299px;
    grid-column: 2 /span 3;
    grid-row: 1;
}
  
.grid .photo-three {
    width: 634px;
    height: 299px;
    grid-column: 1 / span 2;
    grid-row: 2;
}
  
.grid .photo-four {
    width: 299px;
    height: 299px;
    grid-column: 1;
    grid-row: 3;
}
  
.grid .photo-five {
    width: 299px;
    height: 299px;
    grid-column: 2;
    grid-row: 3;
}
  
.grid .photo-six {
    width: 297px;
    height: 634px;
    grid-column: 3;
    grid-row: 2 / span 3;
  }
  